@model StudentDbcode.Models.TblStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceofBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceofBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MDateTime)
        </dd>




    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentGid">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
</div>
